# Build
build/
extension/

# Dependency directories
node_modules/

# Visual Studio Code
.vscode/

# npm logs
npm-debug.log*

# yarn uses its own yarn.lock file
package-lock.json

# yarn logs
yarn-error.log

# chrome debug
debug.log

# environment file
.env
