.clarity-unavailable-text {
    display: flex;
    margin-top: 45%;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 16px;
}