.clarity-click,
.clarity-click-ring {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: radial-gradient(50% 50% at 50% 50%, #FFC35F 0%, rgba(255, 195, 95, 0) 100%);
}

.clarity-click-center {
    position: relative;
    left: 6px;
    top: 6px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 195, 95, 0.33) 0%, rgba(255, 195, 95, 0.297) 80%, rgba(255, 195, 95, 0.264) 100%);
}

.clarity-click-ring {
    background: transparent;
    border: 1px solid #FFC35F;
}

.clarity-click-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}