name: PR Check

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: 22.17.0
      
      - name: Install dependencies
        run: yarn install
      
      - name: Run Biome check
        run: yarn run check
      
      - name: Build packages
        run: yarn build
      
      - name: Run tests
        run: yarn test
      
      - name: Make size check script executable
        run: chmod +x ./scripts/check-file-size.sh
      
      - name: Check clarity-js size
        run: ../../scripts/check-file-size.sh clarity-js ${{ vars.VERSION_FOR_SIZE_COMPARISON }} "build/clarity.min.js" 2
        working-directory: ./packages/clarity-js
      
      - name: Check clarity-decode size
        run: ../../scripts/check-file-size.sh clarity-decode ${{ vars.VERSION_FOR_SIZE_COMPARISON }} "build/clarity.decode.min.js" 2
        working-directory: ./packages/clarity-decode
      
      - name: Check clarity-visualize size
        run: ../../scripts/check-file-size.sh clarity-visualize ${{ vars.VERSION_FOR_SIZE_COMPARISON }} "build/clarity.visualize.min.js" 2
        working-directory: ./packages/clarity-visualize
